@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
.nav-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.home-icon {
  color: #0d6efd;
  font-size: 30px;
  cursor: pointer;
}
.nav-btns {
  display: flex;
  gap: 15px;
}
.join-wrap,
.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.write-btn {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: #0d6efd;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  border: 0;
  color: #fff;
}
.card-group {
  gap: 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-footer {
  width: 100%;
}
.card-text {
  width: 90%;
  min-width: 250px;
  text-align: left;
}
.content-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.content-img {
  width: 90%;
  min-width: 250px;
  height: 250px;
  overflow: hidden;
}
.profile-img {
  width: 30px;
  height: 30px;
}
